.header {
	height: 4.2rem;
	display: flex;
	align-items: center;
	color: #fff;
}

.header .splat {
	height: 100vh;
	margin-left: -135px;
	margin-bottom: 275px;
}

.header h2 {
	font-family: montserrat;
    margin-left: -220px;
    margin-bottom: -10px;
}

.header .orange_glow {
	height: 110vh;
	margin-left: 600px;
	margin-bottom: 280px;
}

.header .rainbow_glow {
	height: 150vh;
	margin-left: -1965px;
	margin-bottom: -1550px;
}