.all_about {
	font-family: horizon;
    text-align: left;
    margin: 0 0 0rem 0;
    font-size: 3rem;
    color: #fddd91;
}

.media_hub {
	font-family: horizon;
    text-align: left;
	margin-top: -10px;
	margin-right: auto;
	margin-bottom: -93px;
	margin-left: auto;
	height: 200px;
    font-size: 5rem;
    color: #ef5a29;
}

.section1 {
    display: flex;
    padding: 2rem;
    padding-top: 6rem;
    padding-left: 6rem;
    height: 70vh;
}

.section1 .left {
	margin-top: 45px;
    width: 65%;
    color: white;
}

.section1 .left p {
	font-family: montserrat;
    /* font-size: 0.8rem; */
	margin-top: 10px;
}
        
.neon-button {
    display: inline-block;
    padding: 15px 30px;
    color: #fddd91;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid #fddd91;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
    /* transition: color 0.3s ease-in-out; */
    background-color: transparent;
}

.neon-button:hover {
    background: #fddd91;
    color: #000;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.section1 .right {
	display: flex;
	align-items: center;
}

.section1 .right img.logo {
    height: 25rem;
    width: auto;
    /* border-radius: 100%; */
    margin-left: -2rem;
    margin-top: -10rem;
}